/* #region theming*/
:root {
  --background-color: white;
  --foreground-color: black;
  --content-color: var(--background-color);
  --selected-color: #efefef;
  --disabled-color: #E1E1E1;
  --input-background: var(--background-color);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

body.dark-mode {
  --background-color: black;
  --foreground-color: rgb(224, 224, 224);
  --content-color: rgb(33, 33, 37);
  --input-background: rgb(21, 21, 24);
  --selected-color: rgb(21, 21, 24);
  --disabled-color: var(--content-color);

  --date-picker-background: var(--input-background);
  --date-picker-foreground: var(--foreground-color);
}

/* #endregion */

textarea {
  background-color: var(--input-background);
  border: 1px solid var(--foreground-color);
  color: var(--foreground-color);
}

textarea:disabled {
  background-color: var(--disabled-color);
}

h1 {
  padding: 0;
  margin: 0;
}

input[type="text"] {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  padding: 6px 10px;
}

input {
  background-color: var(--input-background);
  border-color: var(--foreground-color);
  color: var(--foreground-color);
}

label {
  user-select: none;
}

.full-button {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 8px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s;
  height: 40px;
}

.full-button:hover {
  text-decoration: underline;
}

.form-error-field {
  text-align: start;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  color: rgb(160, 0, 0);
  margin-top: 4px;
  margin-left: 2px;
}

/*#region DatePicker*/
.date-time-field>input {
  border: 1px var(--foreground-color) solid !important;
  padding: 6px 10px !important;
}

.date-time-field>input:focus {
  box-shadow: 0px 0px 0px 1px var(--date-picker-highlight-shadow, rgba(2, 105, 247, 0.4)) !important;
}

:root {
  --date-input-width: 100%;
  --date-picker-background: var(--input-background);
  --date-picker-foreground: var(--foreground-color);
  --date-picker-highlight-shadow: black;
  --date-picker-highlight-border: none;
}

/*#endregion */